<div class="d-flex align-items-center justify-content-center flex-column">
  <h1>Welcome to Scheduled Tweets</h1>

  <div class="container">
    <% if Current.user %>
     <p>Logged in as: <strong><%= Current.user.email %></strong></p> 
    <% end %>
  </div>
</div>